.confirmation-modal {
  .modal-dialog {
    max-width: 350px;
  }

  .modal-content {
    padding: 1rem;
  }

  .modal-body {
    padding-bottom: 0;
  }

  .modal-footer {
    border-top: 0;
  }

  .lead {
    font-size: 16px;
  }
}
